
.search-bar-wrap{
    background: #F0F2F5;
    padding: 24px 10px;
    overflow: hidden;
}

.search-bar-wrap > *{
    float: left;
    margin-right: 10px
}

.ant-calendar-picker-input.ant-input{
    width: 240px;
}